<p>traitement-des-demandes works!</p>
<br>
<p></p>
<br>
<p></p>
<br>
<p></p>
<br>
<p></p>
<!-- your-component.component.html -->
<body>
    <table>
        <tr>
            <td class="table-heading">Traitement des demandes de congés</td>
            <td>
                <br><input type="number" [(ngModel)]="idemployeValue" placeholder="Employee ID"><br>
                <br><input type="number" [(ngModel)]="idcongeValue" placeholder="Conge ID"><br>
                <br><button (click)="processConge()" class="custom-button custom-edit-button">Process Conge</button>
                <button class="custom-button custom-delete-button">Reject</button>
            </td>
        </tr>
        <tr>
            <td class="table-heading">Traitement des demandes d'avantages</td>
            <td>
                <br><input type="number" [(ngModel)]="idemployeValue" placeholder="Employee ID"><br>
                <br><button (click)="acceptRequest()" class="custom-button custom-edit-button">Accept</button>
                <button (click)="rejectRequest()" class="custom-button custom-delete-button">Reject</button>
                <p class="request-status">{{ requestStatus }}</p>
            </td>
        </tr>
    </table>
    <br>
    <br>
</body>
