body{
  background-image:linear-gradient(to bottom, #edeaeb, #dad0d6);
}
div {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color:rgb(249, 248, 248);
    background-size:cover;
  }
  /* Ajoutez ces styles dans votre fichier CSS correspondant */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid #d2cbd0;
  border-radius: 5px;
  box-shadow: 10px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #741551;
}

label {
  font-weight: bold;
}

input[type="number"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background: linear-gradient(to bottom, #741551, #cf92c0);
  background-color: #741551;
color: white;
border: none;
border-radius: 7px;
padding: 10px 20px;
cursor: pointer;
transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}
