<!DOCTYPE html>
<html>

<head>
  <title>Salma</title>
  <link rel="stylesheet" href="C:\Users\21623\Desktop\stage\front-gestion-project\src\app\app.component.css">
</head>

<body>
  
  <!-- Navbar -->
  <nav class="navbar">
    <div >
      <img src="assets/Images/logo.png" width="40%" >
    </div>

    <div id="wrap">
      <ul class="navbar">
        
        <li>
          <a href="#">Accueil</a>
        </li>
        
        <li>
          <a href="#">Espace Dirigeant</a>
          <ul>
            <li><a href="#">Gestion des carrieres</a></li>
            <li><a href="#">Recrutement</a></li>
            <li><a href="#">Statistiques des employés</a></li>
            <li><a href="#">Traitement des demandes</a></li>
            
          </ul>
        </li>
        
        <li>
          <a href="#">Espace Employé</a>
          <ul>
            

            <li>
              <a href="assets/pdf/demandeD'avantage.pdf" download="demandeD'avantage.pdf">Demander d'avantages</a>
            </li>
        
        <li>
          <a href="#"><a href="https://itm.public.lu/dam-assets/fr/publications/modele-types/lettres/demande-conge/demande-conge.pdf" target="_blank" alt="demande-conge">Demande de congé</a>
        </a></li>
        
    
        <li><a href="#">Afficher les salaires</a></li>
        <li><a href="https://www.lettres-gratuites.com/modele-lettre-gestion-entreprise.html">Demander des intrapreneuriats</a></li>
        <li><a href="assets/pdf/demande-de-formation-professionnelle.pdf" download="demandeD'avantage.pdf">Demander des formations</a></li>
        <li><a href="#">Gestion des retraites</a></li>
      </ul>
      </li>
      <li>
        <button>
          <a routerLink="/inscription">Inscription</a>
        </button>
        
    
      </li>
      </ul>
    
    </div>
  </nav>
  <div><p></p></div>
  <div><p></p></div>
  <!-- Contenu principal -->
  <main>
    
    
      <div><p></p></div>
      <div><p></p></div>
      <div class="carreaux-container">
    <div class="carreau" id="carreau1">
      <!-- Contenu du carreau 1 -->
      <h2>Espace Dirigeant</h2>
      <picture> <img src="assets/Images/dirig.jpg"  width="62%"></picture>
    </div>
    <div><p></p></div>
    <div class="carreau" id="carreau2">
      <!-- Contenu du carreau 2 -->
      <h2>Espace Employé</h2>
      <picture> <img src="assets/Images/employe.jpg"  width="50%"></picture>
    </div>
  </div>

  <div><p></p></div>
  <div><p></p></div>
  <div><p></p></div>
  <div><p></p></div>
  </main>


</body>

</html>
