<p>espace-employe works!</p>
<div class="fondecran">
<br>
<p></p>
<br>
<p></p>
<br>
<p></p>
<br>
<p></p>
<br>
<p></p>


<ul>
   <!-- Assuming this code is placed within a table row -->
<th><img src="assets/Images/avantage.jpg"style="width: 80px;">
    <a href="assets/pdf/demandeD'avantage.pdf" download="demandeD'avantage.pdf">Demander d'avantages</a>
  </th><br>
  <th>
    <img src="assets/Images/demandes.webp"style="width: 80px;">
    <a href="https://itm.public.lu/dam-assets/fr/publications/modele-types/lettres/demande-conge/demande-conge.pdf" target="_blank" alt="demande-conge">Demande de congé</a>
  </th><br>
  <br>
  <th><img src="assets/Images/salaire.jpg"style="width: 80px;">
    <a href="#" routerLink="/salaires">Afficher les salaires</a>
  </th><br>
  <br>
  <th><img src="assets/Images/intrapreneuriat.png"style="width: 80px;">
    <a href="https://www.lettres-gratuites.com/modele-lettre-gestion-entreprise.html">Demander des intrapreneuriats</a>
  </th><br>
  <br>
  <th><img src="assets/Images/manager.png"style="width: 80px;">
    <a href="assets/pdf/demande-de-formation-professionnelle.pdf" download="demande-de-formation-professionnelle.pdf">Demander des formations</a>
  </th><br>
  <th><img src="assets/Images/retraite.jpg"style="width: 80px;">
    <a href="assets/pdf/demandeRetraite.pdf" download="demandeRetraite.pdf">Gestion des retraites</a>
  </th><br>
  </ul>
<br>
<p></p>
<br>
<p></p><br>
<p></p>
<br>
<p></p>
<br>
<p></p>
<br>
<p></p><br>
<p></p>
<br>

</div>