<br><br><br>
<h2> Formulaire de connexion/inscription </h2>
<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form action="#">
      <h1>Créer un compte</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>ou utilisez votre email pour vous inscrire</span>
      <input type="text" placeholder="Nom" />
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Mot de passe" />
      <button>Inscription</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#">
      <h1>Se connecter</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>ou utilisez votre compte</span>
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Mot de passe" />
      <a href="#">Mot de passe oublié ?</a>
      <button>Se connecter</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Bienvenue de nouveau !</h1>
        <p>Pour rester connecté avec nous, veuillez vous connecter avec vos informations personnelles.</p>
        <button class="ghost" id="signIn">Se connecter</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Bonjour, utilisateur !</h1> <!-- Suggestion : "Bonjour, utilisateur !" -->
        <p>Entrez vos informations personnelles et commencez votre parcours avec nous.</p>
        <button class="ghost" id="signUp">S'inscrire</button>
      </div>
    </div>
  </div>
</div>

<footer>
  <p>
    Créé avec <i class="fa fa-heart"></i> par
    <a target="_blank" href="https://florin-pop.com">Florin Pop</a>
    - Lisez comment j'ai créé cela et comment vous pouvez rejoindre le défi
    <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">ici</a>.
  </p>
</footer>
