.fondecran {
   
   
    font-family: "Times New Roman", Times, serif;
    background-image: url("../../assets/images/gr.png");
    background-size:cover;
   width: 100%;
   min-height: 100%;
   min-width: 1024px;
  
   height: auto;
   
  }

  
  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
  
  .logo {
    font-weight: bold;
  }
  
  .links a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    justify-content: space-around;
    background-color: linear-gradient(rgb(171, 205, 213),black);
  }
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Pour permettre aux éléments enfants de passer à la ligne */
  
  }
  .carreaux-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
  }
  .carreau {
    width: 380px;
    height: 350%;
    /*background: linear-gradient(rgb(213, 171, 178),black);*/
    margin: 10px;
    padding: 14px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.2s ease-in-out;
  }
  .carreau:hover {
    transform: scale(0.9);
    }
  .carreau img {
    max-width: 100%;
    height: auto;
    display: block; /* Empêche les marges par défaut sur les images */
    margin: 0 auto; /* Centre l'image horizontalement */
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
  
  
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .social-icons a {
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
  }
  /* Centrer le texte horizontalement et verticalement */
.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh; /* Cela centre le texte verticalement dans la fenêtre */
  }
  
  /* Appliquer le style à la phrase */
  .bold-large-centered {
    font-weight: bold; /* Mettre le texte en gras */
    font-size: 22px; /* Ajustez la taille de la police comme vous le souhaitez */
    text-align: center; /* Centrer le texte horizontalement */
    color: #372e31;
}
  
 
  #pied-de-page {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3.5rem;            /* Hauteur du pied-de-page */
  }
  .container{
   /* background: linear-gradient(rgb(213, 217, 219),rgba(131, 126, 126, 0.203));
    background-color:whitesmoke*/

    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.8rem;
  }
  .contact-info,
.location-info {
  margin: 0 1rem;
}

.contact-info h5,
.location-info h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-info p,
.location-info p {
  margin: 0;
}

.contact-info p a,
.location-info p a {
  text-decoration: none;
  color: rgba(7, 0, 0, 0.658);
}
.hero-section {
  text-align: center;
  margin: 20px;
}

.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;

}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  gap: 10px;
  
  justify-content: center;
  margin-top: 60px;
 
}

.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #555d62;
border-radius: 4px;
padding: 15px 18px 30px 15px;

height:32px;
font-size:14px;
box-shadow: 0 0 4px #999;
background-position: center;
transition: background 0.8s;
}

.btn:hover {
  background-color: #555;
  background:#949da4 radial-gradient(circle, transparent 1%, #525e68 1%) center/15000%;
color: white;
}
.btn:active{
  background-color:#292d3e;
  background-size: 100%;
  transition: background 0s;
  }
.content-section {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  justify-content: center;
  
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 18px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
height: auto;
  margin: 15px;
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card h2 {
  font-size: 1.2em; /* Taille de police pour les titres */
  margin-bottom: 10px; 
}

.card ul {
  list-style: none;
  font-size: 1rem;
  color: #666;
  padding: 0;
}

.card ul li {
  margin: 5px 0;
  font-size: 1em; /* Taille de police des éléments de la liste */
  padding: 8px 4px; /* Ajouté du padding pour un meilleur espacement */

}
.center-text {
  text-align: center;
  padding: 20px;
}

.center-text h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.services {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.card {
  background-color: #f5f5f5; /* Couleur de fond des cartes */
  padding: 20px; /* Espace interne */
  border-radius: 8px; /* Coins arrondis */
  width: 250px; /* Largeur des cartes */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre initiale */
  text-align: center; /* Centrer le texte */
  margin: 15px; /* Espace entre les cartes */
  transition: all 0.2s ease-in-out; /* Transition pour les effets */
}

.card:hover {
  box-shadow: 1px 1px 5px rgba(143, 162, 177, 0.5), 2px 2px 10px rgba(190, 200, 208, 0.5), 3px 3px 15px rgba(84, 102, 117, 0.5); /* Ombre au survol */
  transform: translateY(-3px); /* Légère élévation au survol */
}

.card h2 {
  font-size: 1.5em; /* Taille de la police pour les titres */
  margin-bottom: 15px; /* Espace sous le titre */
}

.card ul {
  list-style: none; /* Supprime les puces de la liste */
  padding: 0; /* Supprime le padding par défaut */
}

.card ul li {
  font-size: 1em; /* Taille de la police des éléments de la liste */
  padding: 10px 5px; /* Espacement interne pour chaque élément */
}
