<link rel="stylesheet" href="C:\Users\21623\Desktop\stage\front-gestion-project\src\app\accueil\accueil.component.css">
<main class="fondecran">
<div class="container ">
    <div class="container-fluid px-0">
      <!--  section -->
      <div class="jumbotron text-center bg-info text-white">
        <br>
     
        <hr class="my-4">
 
        <div class="center-text">
        <p class="bold-large-centered">Votre solution unique pour gérer efficacement les tâches . 
         Découvrez nos fonctionnalités et services. Inscrivez-vous ou connectez-vous pour accéder à plus!</p></div>
        
     
        <div class="carreaux-container">
          <div class="carreau" id="carreau1" routerLink="/EspaceDirig">
            <!-- Contenu du carreau 1 -->
            <h2>Espace Dirigeant</h2>
            <picture> <img src="assets/Images/dirig.jpg"  width="62%"></picture>
          </div>
          <div><p></p></div>
          <div class="carreau" id="carreau2" routerLink="/EspaceEmp">
            <!-- Contenu du carreau 2 -->
            <h2>Espace Employé</h2>
            <picture> <img src="assets/Images/employe.jpg"  width="50%"></picture>
          </div>
        </div>
        
        
       
        
          <div class="contact-info">
              <h5>Vous avez une question?</h5>
              <p><a href="tel: +21623777108">+21623777108</a></p>
              <p><a href="mailto:salmajedidi24@gmail.com">salmajedidi24@gmail.com</a></p>
              <p><a href="mailto:contact@iysaal.tn">contact@iysaal.tn</a></p>
          </div>
          <div class="location-info">
              <h5>Location</h5>
              <p><a>Centre Alyssa, Manar, Tunis 18 rue Malaga Manar 1 2092</a></p>
          </div>
     
      
      </div>

